@charset "UTF-8";

body {  
    font-family: 'Montserrat', sans-serif;
    font-color: #c2c2c2;
    border-style: solid;
    box-shadow: 3px 2px 5px 1px #c0c0c0;
    border-color: #838383;
    text-align: center;
	background-color: #fcfcfc;
	padding: 5em 1em;
	margin: 1em 20em;
}
button {
	background-color: #e3e3e3;
  	border: dashed;
  	border-width: 1px;
  	border-color: #c0c0c0; 
  	color: #bababa;
  	text-align: center;
  	font-size: 15pt;
  	font-color: grey; 
  	margin: 0.4em;
	}
a:hover {
  	color: #cdcdcd;
  	text-decoration: none;
  	font-weight: #808080;
  	font-color: grey;
}
h1 {  
	font-color: #808080;
    font-size: 21pt;   
    }
a:link {
	color: #000000;
	text-decoration: none;
	}
a:visited {
	color: #000000;
	}
	
a:hover {
	color: #808080;
	
	}
	

